.App {
  background-color: #e6f0f5;
  color: #333;
}

.App.dark-mode {
  background-color: #01415d;
}


.header {
  background-color: #e6f0f5;
  color: #026d9b;
  text-align: left;
  padding: 1px 0;
  font-size: 1rem; 
  margin: 0;
}

.dark-mode .header{
  background-color: #000000;
  color: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: normal;
}

.logo {
  max-width: 100px; 
  height: auto;
  margin-bottom: 0px;
  margin-right: 20px; 
  margin-left: 20px;
}


                            /* NAV BAR */
nav a {
  color: #806161;
  text-decoration: none;
  margin: 0 10px;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  right: auto;
}

.dropdown-button {
  background-color: #333; 
  color: #fff;
  border: none;
  padding: 10px 29px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;

}

.dropdown-button:hover {
  background-color: #4d4d4d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4d4d4d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  top: 40px;
  right: 0;
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.dropdown-content a:hover {
  background-color: #c4c4c4;
  color: #0070E0;
  text-decoration: underline;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.clicked .dropdown-content {
  display: block;
}

.show.clicked {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #026d9b;
  color: #fff;
  padding: 10px;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.nav-right button:first-child {
  margin-right: 10px;
}

.nav-button {
  background-color: #333;
  color: #fff; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; 
  display: inline-block; 
}

.nav-button:hover {
  background-color: #4d4d4d; 
}

.nav-left .nav-button {
  margin-right: 10px;
}





                                  /* Home Page */


@media screen and (max-width: 500px) {
  .grid {
    margin:0%;
    display: flex;
  justify-content: center;
  align-items: center;
    align-items: center;
  }
  
  .paragraph-box {
    padding: auto;
    margin:auto;
    display:contents;
    justify-content: center;
    align-items: center;
    align-items: center;
  }

  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
}
}


.paragraph-box {
  border: 2px solid #025e9b; 
  padding: auto; 
  margin: auto; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  display: inline-block;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tile {
  background-color: #026d9b;
  color: #ffffff;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
}

.tile:hover {
  background-color: #025e9b;
  transform: scale(1.05);
}

.tile-text {
  font-size: 18px;
  font-weight: bold;
}

.tile-description {
  display: flex;
  position: relative;
  font-size: 14px;
  margin-top: 5px;
}

.tile:hover .tile-description {
  text-decoration: underline;
}

.tile-title {
  font-size: 1.2rem;
  margin: 10px 20px;
}

.tile-image {
  max-height: 200px; 
  overflow: hidden;
}

.tile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-call{
  text-decoration: underline;
}


.video-text-container {

  display: flex;
  flex-wrap: wrap;
  margin: auto;

  align-items: center; /* Align items at the start of the container */
}
  
/* Style the video container */
.video-container {
  /*flex: auto; /* Allow the video to take up half of the container */
margin: auto;
  /*
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px; /**/
  margin-top: 5px;
}

  /* Style the text container */
.text-container {
  flex: auto; /* Allow the text to take up half of the container */
}
  
@media screen and (max-width: 768px) {
  .video-text-container {
    flex-direction: column;
  }

  .video-container,
  .text-container {
    flex: 1 1 100%;
  }

}
  





                           /*article content*/

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff4f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .page-container {
  background-color: #000000;
}

.page-container h1 {
  font-size: 28px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: 10px;
}

.page-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-left: 10px;
  margin-bottom: 15px;
}

.text-style {color: #333;}
.title-style {color: #333;}
.dark-mode .text-style {color: #fff;}
.dark-mode .title-style {color: #fff;}






                          /* Table of Contents */
.table-of-contents {
  display: flex;
  position:sticky;
  align-items: center;
  top: 0;
  left: 0;
  right: 20px;
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid #027c9b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: auto;
  transition: all 1s ease;
}

.table-of-contents h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.table-of-contents li {
  margin-bottom: 5px;
}

.table-of-contents .toc-content {
  list-style-type: disc;
  padding-left: 3em;
}

.table-of-contents a {
  text-decoration: none;
  color: #333;
}

.table-of-contents a:hover {
  color: #0070E0;
  text-decoration: underline;
}

.table-of-contents.hidden{
}

.table-of-contents ul.hidden{
display: none;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.contents {
  display: flex;
  flex-direction: column;
}

.table-of-contents .toggle-button {
  margin-right: 8px; 
}

.table-of-contents .toc-title {
  margin: 0;
}